@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css);

@font-face {
    font-family: "Gotham";
    src: url("./fonts/GothamPro.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Gotham";
    src: url("./fonts/GothamPro-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: "Gotham";
    src: url("./fonts/GothamPro-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: lighter;
}
*, *:before,*:after{
    margin: 0;
    padding: 0;
}
html body {
    font-family: "Gotham";
    font-family: Gotham;
}
header {
    position: fixed;
    z-index: 322;
    width:100%;
}
ul.menu{
    width: 1170px;
    text-align: center;
    padding-left: 0;
    padding-top: 30px;
    width: 100%;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}
.menu li {
    display: inline-block;
}
.menu li a{
    color: #383838;
    display: block;
    width: auto;
    padding: 10px 17px;
    display: inline-block;
    position: relative;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    transition-delay: 300ms;
}
.fp-viewing-onePage ul.menu li a:hover,
.fp-viewing-onePage ul.menu li.active a,
.fp-viewing-fivePage ul.menu li a:hover,
.fp-viewing-fivePage ul.menu li.active a,
ul.menu li a:hover,
ul.menu li.active a{
    color: #008a55;
    text-decoration: none;
}
ul.menu li a::before,
ul.menu li a::after{
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s
}
ul.menu li a::before{
    content: '[';
    -webkit-transform: translateX(25px);
    -moz-transform: translateX(25px);
    transform: translateX(25px);
}
ul.menu li a::after{
    content: ']';
    -webkit-transform: translateX(-25px);
    -moz-transform: translateX(-25px);
    transform: translateX(-25px);
}
ul.menu li a:hover::before,
ul.menu li a:hover::after,
ul.menu li.active a::before,
ul.menu li.active a::after {
    opacity: 1;
}
ul.menu li a:hover::before, ul.menu li.active a::before {
    transform: translateX(-6px);
    -webkit-transform: translateX(-6px);
    -moz-transform: translateX(-6px);
}
ul.menu li a:hover::after, ul.menu li.active a::after {
    transform: translateX(6px);
    -webkit-transform: translateX(6px);
    -moz-transform: translateX(6px);
}
.fp-viewing-onePage ul.menu li a,
.fp-viewing-twoPage ul.menu li a,
.fp-viewing-fivePage ul.menu li a {
    color:#d6d6d6;
    transition-delay: 300ms;
}
section.home_section {
    background: #141414;
}
.kost_left, .kost_right {
    float:left;
    width:100%;
    height:100%;
}
section.home_section:before {
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 50%;
    height: 100%;
    background-image: url(../img/back_left.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 977px;
    z-index: 0;
}
section.home_section:after {
    content: '';
    position: absolute;
    top:0;
    right:0;
    width: 50%;
    height: 100%;
    background-image: url(../img/back_right.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 977px;
    z-index: 0;
}
ul.menu:before {
    content: '';
    position: absolute;
    width: 114px;
    height: 59px;
    top: 23px;
    left: 0;
    background-image: url(../img/logo_black.png);
    transition-delay: 300ms;
}
.fp-viewing-onePage ul.menu:before,
.fp-viewing-twoPage ul.menu:before,
.fp-viewing-fivePage ul.menu:before {
    background-image: url(../img/logo_white.png);
}
.home_left {
    float: left;
    position: relative;
    z-index: 9;
}
.home_right {
    float: right;
    position: relative;
    z-index: 9;
}
.white_word {
    color: #e4e4e4;
    font-size: 34px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2em;
}
.green_word {
    font-size: 42px;
    font-weight: 600;
    text-transform: uppercase;
    color: #008a55;
}
.main_title {
    margin-bottom: 85px;
    margin-top: 100px;
}
.main_standart {
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    color: #f24843;
    margin-bottom: 5px;
}
div.cursor {
    font-size: 18px;
    margin-bottom: 40px;
}
html body {
    color: #e4e4e4;
    line-height: 1.2;
    min-width: 1170px;
}
.home_ico {
    padding: 30px 0px 30px 80px;
    font-size: 17px;
    background-repeat: no-repeat;
}
.money {
    background-image: url(../img/ico_pay.png);
}
.medal {
    background-image: url(../img/ico_medal.png);
}
.eco {
    background-image: url(../img/ico_eco.png);
}
.home_copyright {
    margin-top: 90px;
    font-size: 17.58px;
    margin-left: 50px;
    position: relative;
    display: inline-block;
}
.home_copyright:after {
    content: '';
    position: absolute;
    right: -120px;
    top: 3px;
    width: 109px;
    height: 18px;
    background-image: url(../img/scorista.png);
}
.trill {
    font-size: 23px;
    color: #008a55;
    font-weight: 600;
    margin-bottom: 10px;
}
.rm {
    margin-top: 100px;
    padding-left: 56px;
    width: 302px;
    background-image: url(../img/dola.png);
    background-repeat: no-repeat;
    padding-bottom: 8px;
    padding-top: 10px;
    margin-bottom: 100px;
}
.rm_discrip {
    font-size: 14px;
    text-align: justify;
    text-transform: uppercase;
}
.form_subscribe_title {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 25px;
}
input.fs_inputs {
    width: 303px;
    display: block;
    padding: 9px 12px;
    margin-bottom: 19px;
    color: #7b7b7b;
}
.form_sub {
    text-align: center;
    margin-bottom: 100px;
}
.join_submit {
    background: #008a55;
    font-size: 15px;
    display: inline-block;
    padding: 10px 40px;
}
.join_submit:hover {
    cursor: pointer;
    z-index: 999;
}
.md a {
    font-size: 22px;
    color: #fff;
}
.md {
    padding: 18px 0 18px 68px;
    background-image: url(../img/doc.png);
    background-repeat: no-repeat;
    background-position: 23px;
}
.home_left:after {
    content: '';
    position: absolute;
    right: -399px;
    top: 30px;
    width: 443px;
    height: 863px;
    background: url(../img/Maria.png);
}
.main_soc {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 7px;
}
.home_socials {
    margin-top: 100px;
}
.m_facebook {
    background-image:url(../img/facebook_w.png);
}
.m_telegram {
    background-image:url(../img/telegram_w.png);
}
.m_twitter {
    background-image:url(../img/twitter_w.png);
}
.m_reddit {
    background-image:url(../img/reddit_w.png);
}
.m_github {
    background-image:url(../img/github_w.png);
}
.m_btc {
    background-image:url(../img/btc_w.png);
}
.m_m {
    background-image:url(../img/m_w.png);
}
.m_facebook:hover {
    background-image:url(../img/facebook_g.png);
}
.m_telegram:hover {
    background-image:url(../img/telegram_g.png);
}
.m_twitter:hover {
    background-image:url(../img/twitter_g.png);
}
.m_reddit:hover {
    background-image:url(../img/reddit_g.png);
}
.m_github:hover {
    background-image:url(../img/github_g.png);
}
.m_btc:hover {
    background-image:url(../img/btc_g.png);
}
.m_m:hover {
    background-image:url(../img/m_g.png);
}
.main_soc:hover {
    cursor: pointer;
}
.md a:hover {
    color: #fff;
}
.platform {
    height: 50%;
    background: #141414;
    z-index: 9;
    position: relative;
    display:table;
    width:100%;
}
.ico {
    height: 50%;
    background: #008a55;
    position:relative;
    display:table;
    width:100%;
}
.platform:after, .ico:after {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    text-transform: uppercase;
    font-weight: 600;
    opacity: 0.2;
}
.platform:after {
    content: 'Platform';
    font-size: 239px;
}
.ico:after {
    content: 'ico';
    font-size: 396px;
}
.title_platform, .title_ico {
    font-size: 50px;
    position: absolute;
    font-weight: 600;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}
.title_ico:before, .title_platform:before {
    content: '+';
    position: absolute;
    display: table-cell;
    vertical-align: middle;
    line-height: 1.6;
    left: -82px;
    top: 50%;
    transform: translate(0, -50%);
    width: 60px;
    height: 60px;
    color: #008a55;
    background: #fff;
    font-weight: 100;
    text-align: center;
    border-radius: 50%;
    font-size: 39px;
    transition: 300ms;
}
.title_platform:before {
    color:#141414;
}
.title_ico {
    transform: translate(-150%, -50%);
}
.title_ico:hover::before, .title_platform:hover::before {
    background: #141414;
    line-height: 1.64;
    transition: 300ms;
    -webkit-transform: scale(0.1);
    transform: scale(1.1) translate(0, -45%);
}
.title_platform:hover::before {
    background: #008a55;
}
.title_ico:hover, .title_platform:hover {
    cursor: pointer;
}
textarea {
    resize: none;
    overflow: auto;
    width: 100%;
    border: 1px solid #d5d5d5;
    padding: 9px 15px;
    color: #008a55;
}
section.problems_section {
    background-image: url(../img/red_back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.problems_description {
    text-align: center;
    font-size: 17px;
    width: 520px;
    margin: 0 auto;
}
.problems_title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}
.innovations_title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}
.innovations_description {
    text-align: center;
    font-size: 17px;
    width: 520px;
    margin: 0 auto;
    margin-bottom: 120px;
}
.problema {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    margin-bottom: 120px;
    padding-left: 130px;
    position: relative;
}
.all_problems {
    padding: 0 85px;
    margin-top: 130px;
}
.ktp_popup {
    display: none;
    position: absolute;
    left: 40px;
    top: 30px;
    background: rgba(0,0,0, 0.5);
    padding: 30px 20px 20px 35px;
    width: max-content;
    z-index: 10;
}
.p_title {
    font-size: 30px;
    text-transform: uppercase;
    border: 3px solid;
    display: inline-block;
    padding: 0 3px;
    line-height: 1.1;
    margin-bottom: 15px;
}
.ktp {
    font-size: 18px;
    color: #0d0d0d;
    padding-left: 40px;
    position: relative;
}
.ktp:before {
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0;
    background-image: url(../img/ktp.png);
    background-size: 100%;
    z-index: 15;
}
.knowling:hover {
    cursor: pointer;
}
.knowling {
    position: relative;
    display: table;
}
.knowling:hover .ktp_popup {
    display: block;
}
.ktp_popup ol
li {
    margin-bottom: 8px;
}
.triangle:before,
.rhomb:before,
.circle:before,
.square:before  {
    content: '';
    position: absolute;
    left: 0px;
    top: -40px;
    width: 100px;
    height: 100px;
    background-image: url(../img/triangle.png);
    background-repeat: no-repeat;
    background-size: 115px;
    background-position: center;
}
.rhomb:before {
    background-image: url(../img/rhomb.png);
}
.circle:before {
    background-image: url(../img/circle.png);
}
.square:before {
    background-image: url(../img/square.png);
}
section.antavira_section {
    background-image: url(../img/green_back.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.antavira_title {
    font-size: 51px;
    text-align: center;
    font-weight: 600;
}
.antavara_description {
    text-align: center;
    font-size: 17px;
}
.av_schema {
    margin: 0 auto;
    width: 470px;
    height: 470px;
    background-image: url(../img/schema.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 40px;
}
.avi_question {
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.avi_answer {
    display: inline-block;
    position: relative;
}
section.innovations_section {
    background-image: url(../img/black_fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.c_medal {
    display: none;
}
.c_eco {
    display: none;
}
.inn_leftblock {
    display: inline-block;
    margin-right: 60px;
}
.inn_right_block {
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 10;
}
.ico_inn {
    width: 93px;
    height: 105px;
    display: inline-block;
    vertical-align: middle;
    z-index: 999999;
    position: relative;
    margin-right: 25px;
}
.inn_contr {
    display: inline-block;
    vertical-align: middle;
    padding: 3px;
    position: relative;
}
.inn_title {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 8px 30px 8px 15px;
    background: #008a55;
    z-index: 10;
    position: relative;
}
.lr_active .inn_contr {
    border: 1px dashed rgba(255,255,255, 0.5);
}
.inn_contr:hover {
    cursor: pointer;
}
.lr_active .inn_contr:before {
    content: '';
    width: 672px;
    height: 1px;
    left: -173px;
    top: calc(50% - 2px);
    border: 0.5px dashed rgba(255,255,255, 0.4);
    position: absolute;
    z-index: 1;
}
.inn_cash {
    background-image: url(../img/inn_polygon.png);
}
.ico_inn.inn_medal {
    background-image: url(../img/inn_medal.png);
}
.inn_eco {
    background-image: url(../img/inn_eco.png);
}
.ilb_row {
    padding: 15px 0 15px 45px;
}
.lr_active .ico_inn:before {
    width: 93px;
    height: 105px;
    content: '';
    position: absolute;
    top: 5px;
    left: 6px;
    background-image: url(../img/inn_pay.png);
    z-index: 0;
}
.irb_contr {
    max-width: 388px;
    padding: 12px;
    border: 1px dashed rgba(255,255,255, 0.4);
    margin-bottom: 15px;
}
.inn_content p {
    font-size: 16px;
    margin-bottom: 30px;
    font-family: Gotham;
}
.inn_content {
    background: rgba(0,138,85, 0.7);
    padding: 90px 25px 30px;
    position: relative;
}
.inn_content:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 93px;
    height: 105px;
}
.c_cash:before {
    background-image: url(../img/inn_pay.png);
}
.c_medal:before {
    background-image: url(../img/inn_medal.png);
}
.c_eco:before {
    background-image: url(../img/inn_eco.png);
}
.uc {
    font-size: 30px;
    font-weight: 600;
    padding: 11px 20px;
    border: 1px dashed rgba(255,255,255, 0.4);
    text-transform: uppercase;
}
.uc span {
    font-size: 19px;
    font-weight: 100;
    text-transform: none;
}
.token_title {
    color: #0d0d0d;
    font-size: 40px;
    text-align: center;
    margin-bottom: 12px;
    margin-top: 50px;
}
.token_description {
    color: #0d0d0d;
    text-align: center;
    font-size: 17px;
    margin-bottom: 30px;
}
.tlb_title {
    font-size: 143px;
    color: #000000;
    font-weight: 600;
    line-height: 1em;
}
.tlb_title span {
    color: #008a55;
}
.ether, .distrib {
    font-size: 30px;
    color: #008a55;
    font-weight: 600;
    text-transform: uppercase;
}
.ether_desc, .destrib_desc {
    font-size: 15px;
    color: #0d0d0d;
}
.diagram {
    width: 224px;
    height: 224px;
    background-image: url(../img/diagramm.png);
    display: inline-block;
    margin-right: 50px;
    vertical-align: middle;
}
.proc {
    font-size: 30px;
    font-weight: 600;
    color: #0d0d0d;
}
.proc_des {
    font-size: 13px;
    color: #0d0d0d;
}
.procents {
    display: inline-block;
    vertical-align: middle;
}
.proc_item {
    margin-bottom: 15px;
    position: relative;
}
.curs {
    padding: 25px;
    border: 1px dashed #939393;
    margin-bottom: 15px;
}
.token_leftblock {
    float: left;
    width: calc(50% - 50px);
    padding-left: 90px;
    margin-right: 50px;
}
.token_rightblock {
    float: left;
    width: calc(50% - 50px);
    margin-left: 50px;
    padding-right: 125px;
}
.anta_take, .above_will {
    padding: 30px 25px;
    font-size: 14px;
    font-weight: 600;
    color: #0d0d0d;
    border: 1px dashed #939393;
    margin-top: 23px;
    line-height: 1.5;
}
.use_anta {
    font-size: 15px;
    color: #0d0d0d;
    border: 1px dashed #939393;
    padding: 50px 25px 25px 25px;
}
.use_anta p {
    margin-bottom:25px;
    line-height: 1.5;
}
.anta_take, .use_anta, .above_will {
    margin-bottom:15px;
}
.procents .proc_item:first-child::before,
.procents .proc_item:last-child::before {
    content:'';
    position: absolute;
    left: -63px;
    top: 25px;
    width: 63px;
    height: 5px;
    background-image: url(../img/first_line.png);
    background-position: 0px -7px;
    background-repeat: no-repeat;
}
.procents .proc_item:nth-child(2)::before,
.procents .proc_item:nth-child(3)::before {
    content:'';
    position: absolute;
    left: -40px;
    top: 25px;
    width: 63px;
    height: 5px;
    background-image: url(../img/second_line.png);
    background-repeat: no-repeat;
}
.campaing_title {
    font-size: 40px;
    color: #0d0d0d;
    text-align: center;
    margin-bottom: 9px;
    margin-top: 60px;
}

.campaing_descrip {
    text-align: center;
    color: #0d0d0d;
    font-size: 17px;
    margin-bottom: 30px;
}

section.campaing_section {
    color: #0d0d0d;
}

.gr_item {
    display: table-cell;
    text-align: center;
    padding: 15px 13px;
    border: 1px solid;
}

.grl_item {
    display: table-cell;
    padding: 25px 5px 8px 5px;
    border: 1px solid #fff;
    width: 110px;
}

.br_item {
    display: table-cell;
    padding: 20px 22px 15px 22px;
    border: 1px solid;
}

.grey_row {display: table;background: #898989;margin: 0 auto;margin-bottom: 7px;position: relative;}

.tokens_container {
    text-align: center;
    color: #fff;
}
.green_line_row {
    display: table;
    background-image: url(../img/green_fonchek.png);
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    margin-bottom: 7px;
    position: relative;
}
.blue_row {
    display: table;
    margin: 0 auto;
    background-image: url(../img/blue_fonchek.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 12px;
}
.gr_number {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.gr_price {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.gr_name {
    font-size: 20px;
}
.grl_eth {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 25px;
    position: relative;
}
.grl_anta {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 35px;
    position: relative;
}
.grl_proc {
    font-size: 25px;
    font-weight: 600;
}
.grl_label, .gr_label, .br_label, .ob_label {
    position: absolute;
    color: #0d0d0d;
    width: 195px;
    border: 1px dashed #939393;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 8px;
    top: 50%;
    transform: translate(0, -50%);
    left: -226px;
    background: #fff;
    text-align: center;
}
.br_eth {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 40px;
    position: relative;
}
.br_proc {
    font-size: 25px;
    font-weight: 600;
}
.opacity_block {
    position: relative;
    width: 770px;
    margin: 0 auto;
    color: #0d0d0d;
    text-align: left;
    padding: 20px 35px 15px 35px;
    border: 1px dashed #939393;
}
.grey_row:before,
.opacity_block:before,
.green_line_row:before,
.blue_row:before {
    content: '';
    position:absolute;
    left:-142px;
    top:50%;
    width:142px;
    height:1px;
    background-image:url(../img/line.png)
}

.opacity_block ol li {
    margin-bottom: 6px;
}

.grl_eth:after {
    content: '';
    position: absolute;
    width: 22px;
    height: 14px;
    background-image: url(../img/rovno.png);
    background-repeat: no-repeat;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%);
}
.grl_anta:after {
    content: '';
    position: absolute;
    width: 22px;
    height: 14px;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    bottom: -24px;
    left: 50%;
    transform: translate(-50%);
}
.br_eth:after {
    content: '';
    position: absolute;
    width: 22px;
    height: 14px;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    bottom: -24px;
    left: 50%;
    transform: translate(-50%);
}
.experience_title {
    font-size: 40px;
    text-align: center;
    color: #0d0d0d;
    margin-bottom: 20px;
    margin-top: 50px;
}
.experience_desc {
    text-align: center;
    color: #0d0d0d;
    font-size: 17px;
    margin-bottom: 70px;
}
.column_first {
    display: inline-block;
    vertical-align: middle;
    margin-right: 80px;
}
.column_second {
    display: inline-block;
    width: 390px;
    vertical-align: top;
    margin-right: 80px;
}
.column_third {
    display: inline-block;
    vertical-align: top;
}
section.experience_section.fp-section {
    color: #0b0b0b;
}
.cf_item {
    width: 290px;
    padding: 23px 27px;
    border: 1px dashed #939393;
    margin-bottom: 60px;
    text-align: center;
}
.cf_greenW {
    display: inline-block;
    vertical-align: middle;
    font-size: 49px;
    font-weight: 600;
    color: #008a55;
}
.cfi_desc {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    font-size: 18px;
    margin-left: 12px;
}
.company_desc {
    padding: 30px;
    border: 1px dashed #939393;
}
.cs_logo {
    width: 100%;
    height: 64px;
    margin-bottom: 47px;
    background-image: url(../img/exp_logo.png);
    background-size: cover;
}
p.cdd {
    margin-bottom: 25px;
    line-height: 1.5;
}
.nom_title {
    font-size: 15px;
    text-transform: uppercase;
    color: #008a55;
    margin-bottom: 5px;
}
.nom_des {
    display: inline-block;
    vertical-align: middle;
}
.nom_logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.nom_item {
    margin-bottom: 15px;
}
.avi_title {
    font-size: 21px;
    text-transform: uppercase;
    border: 2px solid;
    padding: 2px 3px;
    color: #fff;
}
.antavira_container {
    position: relative;
}
.av_item {
    position: absolute;
}
.av_lenders {
    top: 50px;
    left: 150px;
    text-align: right;
}
.av_credit {
    top: 50px;
    right: 70px;
}
.av_risk {
    bottom: 50px;
    left: 50px;
    text-align: right;
}
.av_prova {
    bottom: 50px;
    right: 70px;
}
.popup_qustion {
    display: none;
    position: absolute;
    width: max-content;
    text-align: left;
    background: url(../img/popup_right_back.png);
    color: #0d0d0d;
    background-repeat: no-repeat;
    padding: 17px 20px 15px 30px;
    right: 17px;
    bottom: -125px;
}

.qustion_ico {
    width: 29px;
    height: 34px;
    background-image: url(../img/question.png);
    margin-top: 8px;
    margin-right: 0px;
}
.qustion_ico:hover, .answer_ico:hover {
    cursor: pointer;
}
.popup_answer {
    display: none;
    position: absolute;
    width: max-content;
    text-align: left;
    background: url(../img/popup_back.png);
    color: #0d0d0d;
    padding: 17px 20px 15px 30px;
    left: 17px;
    bottom: -125px;
}
.answer_ico {
    width: 29px;
    height: 34px;
    background-image: url(../img/answer.png);
    background-repeat: no-repeat;
    margin-top: 8px;
}

.qustion_ico:hover {
    background-image: url(../img/active_q.png);
}

.answer_ico:hover {
    background-image: url(../img/active_a.png);
}

.avi_question:hover .popup_qustion {
    display: block;
}

.avi_answer:hover .popup_answer {
    display: block;
}

.title_pa, .title_pq {
    font-size: 16px;
    margin-bottom: 10px;
}

.popup_answer ul li, .popup_qustion ul li {
    margin-bottom: 4px;
}

.av_lenders:before, .av_credit:before, .av_risk:before, .av_prova:before {
    content: '';
    position: absolute;
    left: -80px;
    top: -16px;
    width: 70px;
    height: 70px;
    background-image: url(../img/triangle.png);
    background-repeat: no-repeat;
    background-size: 77px;
    background-position: center;
}
.av_credit:before {
    background-image: url(../img/rhomb.png);
}
.av_risk:before {
    background-image: url(../img/circle.png);
    right: -80px;
    left: auto;
}
.av_prova:before {
    background-image: url(../img/square.png);
}
.av_lenders:before {
    right: -80px;
    left: auto;
}
.news_slide {
    float: left;
    width: calc(25% - 15px);
    margin-right: 15px;
    height: 303px;
    margin-bottom: 30px;
}
.news_title {
    font-size: 40px;
    color: #0d0d0d;
    text-align: center;
    margin-bottom: 20px;
}
.news_desc {
    font-size: 17px;
    text-align: center;
    color: #0d0d0d;
    margin-bottom: 50px;
}
.ns_data {
    font-size: 13px;
    color: #008a55;
    padding-left: 15px;
    margin-top: 10px;
    margin-bottom: 13px;
    position: relative;
}
.ns_img img {
    width: 100%;
}
.ns_info {
    font-size: 12px;
    color: #0d0d0d;
    line-height: 1.4;
    padding: 0 15px 30px;
}
.news_slide:hover {
    cursor: pointer;
    box-shadow: 0px 5px 20px -4px rgba(0,0,0,0.3);
}
* {
    outline:none;
}
.media_logo_container {
    display: table;
    text-align: center;
    margin: 0 auto 20px auto;
}
.media_block {
    display: table-cell;
    padding: 0 15px;
    filter: grayscale(100%);
}
.media_block:hover {
    filter: none;
}
.ns_prev:hover, .ns_next:hover {
    cursor:pointer;
}
.ns_prev, .ns_next {
    width: 30px;
    height: 30px;
    position: absolute;
    left: -80px;
    background: url(../img/news/news_next.png) 30px;
    transform: rotate(180deg);
    top: 40%;
}
.slides_container {
    position: relative;
}
.ns_next {
    left: auto;
    right: -56px;
    transform: none;
}
.team_title {
    font-size: 40px;
    text-align: center;
    color: #0d0d0d;
    margin-bottom: 20px;
}
.team_description {
    font-size: 17px;
    text-align: center;
    color: #0d0d0d;
}
.team_slide {
    display: inline-block;
    margin: 0 10px;
}
.photo_block {
    position: relative;
    border: 2px dashed;
    margin-bottom: 50px;
    margin: 0 10px;
}
.photo_description {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 90px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255,255,255, 0.5);
    transition-delay: 200ms;
}
.pd_name {
    font-size: 16px;
    font-weight: bold;
    color: #008a55;
}
.pd_dolz {
    font-size: 14px;
    font-weight: bold;
    color: #0d0d0d;
    margin-top: 5px;
}
.photo_block:hover .photo_description {
    display: block;
    cursor: pointer;
}
.photo_block:hover {
    box-shadow: 0px 5px 20px -4px rgba(0,0,0,0.3);
}
.team_slider {
    padding: 0 50px;
    margin-top: 30px;
}
.t_prev:hover, .t_next:hover, .pk_prev:hover, .pk_next:hover {
    cursor: pointer;
}
.t_prev, .t_next, .pk_prev, .pk_next {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0px;
    background: url(../img/news/news_next.png) 30px;
    transform: rotate(180deg);
    top: 42%;
    z-index: 10;
}
.slides_container {
    position: relative;
}
.t_next, .pk_next {
    left: auto;
    right: 0px;
    transform: none;
}
.team_sliders_container {
    position: relative;
}
.advisors_dlider {
    padding: 0px 125px;
    position: relative;
}
.team_slide .photo_block:last-child {
    margin-bottom: 0;
}
.advisors_sliders_container {
    position: relative;
}
.as_photo img {
    margin: 0 auto;
}
.as_post {
    font-size: 18px;
    color: #0d0d0d;
    text-align: center;
}
.as_post span {
    font-weight: 600;
}
.as_name {
    font-size: 17px;
    text-transform: uppercase;
    color: #008a55;
    text-align: center;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 10px;
}
.photo_block img {
    width: 100%;
}
.advisors_title {
    font-size: 30px;
    color: #0d0d0d;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.advisors_desc {
    font-size: 17px;
    color: #0d0d0d;
    text-align: center;
    margin-bottom: 20px;
}
.pk_prev, .pk_next {
    left: 50px;
}
.pk_next {
    left: auto;
    right: 50px;
}
.container {
    width: 1170px;
}
.partner {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
}
.partner_desc {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 155px;
    transition: top 300ms;
    left: 0;
    right: 0;
    bottom: 0;
    color: #0d0d0d;
    text-align: left;
    background: #fff;
    padding: 25px;
    line-height: 1.4;
    border: 1px dashed;
}
.partners_title {
    font-size: 40px;
    color: #0d0d0d;
    text-align: center;
    margin-bottom: 20px;
}
.partners_desc {
    font-size: 17px;
    color: #0d0d0d;
    text-align: center;
    margin-bottom: 50px;
}
.partners_container {
    text-align: center;
}
.partner:nth-child(3n+3) {
    margin-right: 0;
}
.partner:hover {
    box-shadow: 0px 5px 20px -4px rgba(0,0,0,0.3);
    cursor: pointer;
}
.partner:hover .partner_desc {
    display: block;
    top: 0;
    transition: top 200ms;
}
.faq_title {
    font-size: 40px;
    color: #0d0d0d;
    text-align: center;
    margin-bottom: 20px;
}
.faq_disc {
    font-size: 17px;
    color: #0d0d0d;
    text-align: center;
    margin-bottom: 80px;
}
.qa_title, .smf_title {
    font-size: 18px;
    text-align: center;
    color: #0d0d0d;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.qa_answer {
    display: none;
}
.questions_answ {
    float: left;
}
.qa {
    color: #0d0d0d;
    font-size: 16px;
}
.qa_qustion {
    padding: 13px 35px 13px 20px;
    border: 1px dashed #999999;
    margin-bottom: 10px;
    position: relative;
}
.qa_qustion:hover {
    cursor: pointer;
}
.send_message_form {
    float: left;
    width: 306px;
    margin-left: 283px;
}
input.smf_input {
    width: 100%;
    padding: 9px 15px;
    margin-bottom: 15px;
    color: #008a55;
    font-size: 14px;
    border: 1px solid #d5d5d5;
}
input.smf_input:focus {
    border: 1px solid #7fc4aa;
}
textarea:focus {
    border: 1px solid #7fc4aa;
}
form.send_message {
    text-align: center;
    color: #008a55;
}
.smf_send_btn {
    display: inline-block;
    background: #008a55;
    margin-top: 30px;
    padding: 13px 100px;
    font-size: 16px;
    color: #fff;
}
.smf_send_btn:hover {
    cursor: pointer;
}
.qa_qustion:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 8px;
    width: 20px;
    height: 20px;
    background-image: url(../img/faq_arrow.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 1px;
}
footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 40px 0 30px;
    background-image: url(../img/black_fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.foot_soc {
    text-align: right;
}
.foot_copyright {
    float: left;
}
.foot_soc .main_soc {
    margin-right: 15px;
}
.powered {
    display: inline-block;
    padding-right: 200px;
    position: relative;
    font-size: 18px;
}
.powered:after {
    content: '';
    position: absolute;
    right: 85px;
    top: 0px;
    width: 109px;
    height: 18px;
    background-image: url(../img/scorista.png);
}
.reserved {
    display: inline-block;
    position: relative;
}
.reserved:before {
    content: '|';
    position: absolute;
    left: -41px;
    font-size: 27px;
    top: -6px;
}